* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(43, 47, 96) ;
    background-size: cover;
    background-position: top;
    color: #C8A2C8;
}

 h1 {
    color: #000000;
    text-align: center;
    align-self: start;
    font-size: 3em;
    margin-bottom: 20px;
 }

 .nav {
    position: fixed;
    top: -0;
    display: flex;
    justify-content:space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 100;
 }

 .nav-logo p {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    
 }


 .nav-menu ul {
    display: flex;

 }
 
.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    padding-bottom: 15px;
    margin: 0 25px;
} 

.link:hover,
.active {
    border-bottom: 2px solid #000000;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(67, 25, 67, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: rgba(67, 67, 67, 0.3);
}

.btn.white-btn {
    background: rgba(67, 67, 67, 0.7);
}

.btn.white-btn:hover {
    background: rgba(67, 67, 67, 0.5);
}

.nav-menu-btn {
    display: none;
}

.from-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    display: none;
    align-items: center;
    justify-content: center;
    width: 550px; 
    height: 500px; 
    border-radius: 20px; 
    z-index: 1000;
    padding: 20px;
}
  
.from-box.active {
    display: flex;
}

.top span{
    color: #333;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a{
    font-weight: 500;
    color: #007bff;
    margin-left: 5px;
    text-decoration: none;
}

.top span a:hover{
    text-decoration: underline;
}

header{
    color: #333;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.input-box{
    position: relative;
    margin-bottom: 20px;
}

.input-feild{
    font-size: 15px;
    background: rgba(0, 0, 0, 0.05);
    color: #333;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: 0.2s ease;
}

.input-feild:hover
.input-feild:focus{
    background: rgba(0, 0, 0, 0.08);
}

.input-box i {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #666;
}

.submit:hover{
    background: #0056b3;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.02);
}

.two-col{
    display: flex;
    justify-content: space-between;
    font-size: small;
    margin-top: 10px;
    color: #333;
}

.two-col.one{
    display: flex;
    gap: 5px;
}

.two-lable a{
    text-decoration: none;
    color: #C8A2C8;
}

.two-lable a:hover{
    text-decoration: underline;
}

.close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #666;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.close-btn:hover{
    color: #ff4d4d;
}

.container
.slides{
    width: 100%;
    height: 100vh;
}

.slides{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides img{
    width: 100%;
    height: 98%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 786px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: 1000px;
        display: flex;
        justify-content: center;
        background: rgba(67, 67, 67, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: 0.3s;
    }
    
    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn {
        display: block;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(39, 39, 39, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(39, 39, 39, 0.15);
    }
}

.home-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #C8A2C8 0%), #C8A2C8 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-container {
    max-width: 2000%;
    background:#C8A2C8;
    border-left: 5px solid #000000;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}

.home-container h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #000000;
}

.home-container p {
    font-size: 1rem;
    line-height: 3.8;
    color: #333;
}

@media only screen and (max-widt: 540px) {
    .wrapper {
        min-height: 100vh;
    }

    .from-box {
        width: 95%;
        height: auto;
        padding: 20px;
    }

    .two-forms {
        flex-direction: column;
        gap: 10px;
    }
}